<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-procurement website</title>
    <link rel="stylesheet" href="../Styles/style.css" />
    <link rel="stylesheet" href="../Styles/global.css" />
    <link rel="stylesheet" href="../Styles/nav.css" />
  </head>
  <body>
    {{>navbar}}
    <section class="sect1">
      <div class="part-1">
        <div class="text">
          <div class="title-flex">
            <h1 class="heading1">Welcome to</h1>
          </div>
          <h1 class="heading2">Acceptender</h1>
        </div>
        <p class="para">
A Platform where the Government Organizations and the companies can participate in the online bidding process 
        </p>
        <div class="button flex-center">
          <a href="#Tender-Status" class="btn">Start</a>
        </div>
      </div>
      <div class="part-2">
        <div class="home-img">
          <!-- <img src="./images/Home4.png" alt="" /> -->
          <img src="../images/Home_bg_2.jpeg" alt="Boy with a certificate" />
        </div>
      </div>
    </section>
    <section class="sect2 flex-center" id="Tender-Status">
      <article class="art-1 grid1">
        <div class="image">
          <img class="icon" src="../images/tick2.png" alt="" />
        </div>
        <p class="number">33736</p>
        <p class="status-title">Active Tenders</p>
      </article>
      <article class="art-2 grid1">
        <div class="image">
          <img class="icon" src="../images/clock1.png" alt="" />
        </div>
        <p class="number">363</p>
        <p class="status-title">Tenders Opening Today</p>
      </article>
      <article class="art-3 grid1">
        <div class="image">
          <img class="icon" src="../images/calender1.png" alt="" />
        </div>
        <p class="number">136</p>
        <p class="status-title">Tenders Closing Today</p>
      </article>
      <article class="art-4 grid1">
        <div class="image">
          <img class="icon" src="../images/building1.png" alt="" />
        </div>
        <p class="number">180</p>
        <p class="status-title">No. of Organisations</p>
      </article>
    </section>
    <div class="sec34">
      <section class="sect4 flex-center">
        <div class="list-head">
          <h2 id="Tenders">Tenders:</h2>
          <input class="search" placeholder="Search tenders" type="text" />
        </div>
        <div class="tender-list">
          <div class="headers">
            <div class="header">
              <a class="tender-header" href="#">Tender</a>
              <a class="tender-header" href="#">Title</a>
            </div>
            <div class="header">
              <a class="tender-header" href="#">Reference</a>
              <a class="tender-header" href="#">no</a>
            </div>
            <div class="header">
              <a class="tender-header" href="#">Opening</a>
              <a class="tender-header" href="#">Date</a>
            </div>
            <div class="header">
              <a class="tender-header" href="#">Closing</a>
              <a class="tender-header" href="#">Date</a>
            </div>
          </div>
          <article class="tender-part">
            <div class="tender-content">
              <!-- {{#each obj}}
              <li>
                <a href="{{this.link}}">{{this.title}}</a>
              </li>
              <li>{{this.no}}</li>
              <li>{{this.oDate}}</li>
              <li>{{this.cDate}}</li>
              {{/each}} -->
            </div>

          </article>
        </div>
      </section>
    </div>
  </body>
  <script>
    // document.querySelector("#Tenders").scrollIntoView({
    //   behavior: "smooth",
    // });
    let obj = [
      {
        title: "Reconstructing TSEC building",
        no: "Proc.4(2)/DK/ROTI/HTA/03/2022",
        oDate: "16-05-2022",
        cDate: "17-05-2022",
        link: "/tenderinfo"
      },
      {
        title: "Improving drainage System",
        no: "Proc.4(2)/DK/ROTI/HTA/03/2022",
        oDate: "16-05-2022",
        cDate: "17-05-2022",
        link: "/tenderinfo"
      }
    ]


    obj.forEach(item => {
      const art = document.querySelector('.tender-part');

      const div = document.createElement('div');
      div.classList.add("tender-content");
      
      div.innerHTML = `<li>
              <a href="${item.link}">${item.title}</a>
              </li>
              <li>${item.no}</li>
              <li>${item.oDate}</li>
              <li>${item.cDate}</li>`;
      // console.log(div);
      // console.log(art);

      art.appendChild(div);
      art.insertBefore(div, art.firstChild);
    });


  </script>
</html>
